<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="console" xsi:type="Console" layout="${time} ${message} ${event-context:item=hex}"/>
		<target name="file" xsi:type="File"
			layout="${longdate} ${event-context:item=time} ${event-context:item=delta} ${event-context:item=port} ${message}${newline}
${event-context:item=hex}${newline}
${event-context:item=ascii}"
			fileName="${basedir}/../SerialMonitor.txt"/>

		<target name="hexDelta" xsi:type="File"
			layout="${event-context:item=delta} ${event-context:item=hex}"
			fileName="${basedir}/../SerialMonitor_hexDelta.txt"/>
		
	</targets>

	<rules>
		<!--logger name="*" minlevel="Trace" writeTo="console" /-->
		<logger name="*" minlevel="Trace" writeTo="file,hexDelta" />
	</rules>
</nlog>